@model BookshelfMVC.Application.ViewModels.Books.BookDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Writer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WriterName)
        </dd>
        <dt class = "col-sm-2">
            Number of pages
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>
        <dt class = "col-sm-2">
            Year of publish
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublish)
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Language
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            Publisher
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
